::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--med-color-neutral-2));
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--med-color-neutral-4));
  border-radius: 5px;
}
